<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>nssptcpandalam</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Jost:wght@500;600;700&family=Open+Sans:wght@400;600&display=swap"
        rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="lib/animate/animate.min.css" rel="stylesheet">
    <link href="lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />
    <link href="lib/twentytwenty/twentytwenty.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="css/style.css" rel="stylesheet">
</head>

<body>
    <!-- Spinner Start -->
    <div id="spinner"
        class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-grow text-primary m-1" role="status">
            <span class="sr-only">Loading...</span>
        </div>
        <div class="spinner-grow text-dark m-1" role="status">
            <span class="sr-only">Loading...</span>
        </div>
        <div class="spinner-grow text-secondary m-1" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <!-- Spinner End -->


    <!-- Topbar Start -->
    <div class="container-fluid bg-light ps-5 pe-0 d-none d-lg-block">
        <div class="row gx-0">
            <div class="col-md-6 text-center text-lg-start mb-2 mb-lg-0">
                <div class="d-inline-flex align-items-center">
                    <small class="py-2"><i class="far fa-clock text-primary me-2"></i> </small>
                </div>
            </div>
            <div class="col-md-6 text-center text-lg-end">
                <div class="position-relative d-inline-flex align-items-center bg-primary text-white top-shape px-5">
                    <div class="me-3 pe-3 border-end py-2">
                        <p class="m-0"><i class="fa fa-envelope-open me-2"></i>info@example.com</p>
                    </div>
                    <div class="py-2">
                        <p class="m-0"><i class="fa fa-phone-alt me-2"></i>+012 345 6789</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Topbar End -->


    <!-- Navbar Start -->
    <nav class="navbar navbar-expand-lg bg-white navbar-light shadow-sm px-5 py-3 py-lg-0">
        <a href="index.html" class="navbar-brand p-0">

        </a>
        <img style="width: 60px;" src="img/Combined.png" alt="">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>

        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto py-0">
                <h1>NSS POLYTECHNIC COLLAGE PANDALAM</h1>
                <div class="navbar-nav ms-auto py-0">
                    <a href="/" class="nav-item nav-link">Home</a>

                </div>

            </div>
            <button type="button" class="btn text-dark" data-bs-toggle="modal" data-bs-target="#searchModal"><i
                    class="fa fa-search"></i></button>

        </div>
    </nav>
    <!-- Navbar End -->


    <!-- Full Screen Search Start -->
    <div class="modal fade" id="searchModal" tabindex="-1">
        <div class="modal-dialog modal-fullscreen">
            <div class="modal-content" style="background: rgba(9, 30, 62, .7);">
                <div class="modal-header border-0">
                    <button type="button" class="btn bg-white btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
                </div>
                <div class="modal-body d-flex align-items-center justify-content-center">
                    <div class="input-group" style="max-width: 600px;">
                        <input type="text" class="form-control bg-transparent border-primary p-3"
                            placeholder="Type search keyword">
                        <button class="btn btn-primary px-4"><i class="bi bi-search"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Full Screen Search End -->


    <!-- Hero Start -->

    <!-- Hero End -->


    <!-- About Start -->
    <div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-7">
                    <div class="section-title mb-4">
                        <h5 class="position-relative d-inline-block text-primary text-uppercase">About Us</h5>
                        <h1 class="display-5 mb-0">CIVIL ENGINEERING</h1>
                    </div>
                    <p class="mb-4">
                        The Department of Civil Engineering is one of oldest and pioneer department in the institution,
                        which has produced many successful technocrats and entrepreneur. It was established in 1958
                        along with the inception of N.S.S. Polytechnic College Pandalam. Now, the Department offers
                        diploma level education in Civil Engineering with a motto of perfection in teaching and
                        training. The Department faculty and staffs are actively engaged in testing and consultancy
                        activities. The major clients with the Department include K.S.E.B, Nair service society, Mannam
                        Co-operative Ayurvedic College, K.S.R.T.C and many more. A number of projects of many government
                        and semi government are being taken up and conceived by the department with the active
                        participation of students. The laboratories of the Department are well equipped and fully
                        fledged as per standards of the AICTE. The students are taught and trained perfectly to take up
                        academically and socially viable projects, which are beneficial in their future on technocrats.
                        The Department has very good record of placement of students during and after the completion of
                        the course. The Alumni of the Department have been well placed in prestigious positions in India
                        and abroad.
                        t</p>

                </div>
                <div class="col-lg-5" style="min-height: 500px;">
                    <div class="position-relative h-100">
                        <img class="position-absolute w-100 h-100 rounded wow zoomIn" data-wow-delay="0.9s"
                            src="img/R-Preetha.jpg" style="object-fit: cover;">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->
    <div class="container-fluid bg-primary bg-appointment my-5 wow fadeInUp" data-wow-delay="0.1s">
        <div class="container">
            <div class="row gx-5">
                <div class="col-lg-6 py-5">
                    <div class="py-5">
                        <h1 class="display-5 text-white mb-4">Vision</h1>
                        <p class="text-white mb-0">“Quality in Technical education along with ethical values and social
                            commitment.”</p>
                    </div>
                    <h1 class="display-5 text-white mb-4">Mission</h1>
                    <p class="text-white mb-0">
                        <li>
                            To promote quality education and consultancy for industrial and social needs.
                        </li>
                        <i>
                            To inculcate moral and ethical values among the students.
                        </i>
                        <li>
                            To impart knowledge with emphasis on the development of leadership qualities in students.
                        </li>
                        <li>
                            To encourage students to pursue higher education and various career enhancing courses.
                        </li>
                        <li>
                            To promote innovative and original thinking in the minds of budding technicians to face the
                            challenges of futures.
                        </li>
                    </p>

                </div>
                <div class="col-lg-6">
                    <div class="appointment-form h-100 d-flex flex-column justify-content-center text-center p-5 wow zoomIn"
                        data-wow-delay="0.6s">
                        <h1 class="text-white mb-4"></h1>
                        <marquee direction="up" height="400" style="color: red;">News and events</marquee>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <div class="container-fluid bg-primary bg-appointment my-5 wow fadeInUp" data-wow-delay="0.1s">
        <div class="container">
            <div class="row gx-5">
                <div class="col-lg-6 py-5">
                    <div class="py-5">
                        <h1 class="display-5 text-white mb-4">Program Educational Objectives</h1>
                        <p class="text-white mb-0">Our Graduate will be</p>
                    </div>

                    <p class="text-white mb-0">
                        <li>
                            Create capable technicians to pursue productive careers in private and government
                            organisations at the national level.
                        </li>
                        <li>
                            Contribute towards the department of society by providing solutions and higher studies.
                            </i>
                        <li>
                            PEO3 – Impact skills amongst technicians for becoming successful entrepreneur.


                        </li>

                    </p>
                    <h1 class="display-5 text-white mb-4">Program Outcomes</h1>
                    <li>
                        1.Basic knowledge: An ability to apply knowledge of basic mathematics, science and engineering
                        to solve the engineering problems.
                    </li>
                    <li>
                        2. Discipline knowledge: An ability to apply discipline - specific knowledge to solve core
                        and/or applied engineering problems.
                        </i>
                    <li>
                        3.Experiments and practice: An ability to plan and perform experiments and practices and to use
                        the results to solve engineering problems.
                    </li>
                    <li>
                        4. Engineering Tools: Apply appropriate technologies and tools with an understanding of the
                        limitations
                    </li>
                    <li>5. The engineer and society: Demonstrate knowledge to assess societal, health, safety, legal and
                        cultural issues and the consequent responsibilities relevant to engineering practice</li>
                    <li>
                        6. Environment and sustainability: Understand the impact of the engineering solutions in
                        societal and environmental contexts, and demonstrate the knowledge and need for sustainable
                        development..
                    </li>
                    <li>
                        7. Ethics: Apply ethical principles and commit to professional ethics and responsibilities and
                        norms of the engineering practice
                    </li>
                    <li>
                        8. Individual and team work: Function effectively as an individual, and as a member or leader in
                        diverse/multidisciplinary teams.
                    </li>
                    <li>
                        9. Communication: An ability to communicate effectively.
                    </li>
                    <li>
                        10.Life-long learning: Recognize the need for, and have the preparation and ability to engage in
                        independent and life-long learning in the context of technological changes..
                    </li>
                    <h1 class="display-5 text-white mb-4">Program Specific Outcomes</h1>
                    <li>
                        PSO1 – Enhance employability or entrepreneur skills through in-house and onsite training.
                    </li>
                    <li>
                        PSO2 – Provide solutions to societal and rural development problems through the innovative
                        practices.
                    </li>
                </div>

            </div>
        </div>
    </div>

    <!-- ----staff data---------- -->

    <h1 class="display-6 mb-4" style="text-align: center;">Staff</h1>
    <div class="container">
        <div class="row">
            {{#each staffs}}
            <div class="column">
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <img src="/img/staff/{{_id}}.jpg" alt="Avatar" style="width:250px;height:200px;">
                        </div>
                        <div class="flip-card-back">
                            <h1>{{staff_name}}</h1>
                            <p>{{position}} </p>
                            <p>{{email}} </p>
                            <p>{{phone}} </p>
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>


    <h1 class="display-6 mb-4" style="text-align: center;"> <u>Facilities</u> </h1>

    <h2 style="text-align: center;"> Lab Facilities
    </h2>
    <div class="container">
        <p>The department boasts of well equipped labs manned by highly competent staff. The various laboratories that
            come under the purview of the department are survey lab, material testing lab, geotechnical engineering lab,
            AutoCAD lab, construction engineering lab, environmental engineering lab and concrete lab..</p>
    </div>

    <h2 style="text-align: center;">Survey Lab</h2>
    <div class="container">
        <p>Our survey laboratory is well equipped with modern measuring instruments to provide the students with
            sufficient practical knowledge. We have a total station with all accessories which enables the students to
            be familiar with electronic distance measurement .We also have theodolites, levelling instruments, prismatic
            compass etc which enable the students to excel in conventional surveying methods. Apart from the regular
            students ,the continuing education cell of the institution conducts classes in terrestrial surveys taking
            good advantage of our laboratory..</p>
    </div>

    <h2 style="text-align: center;">Material Testing Lab</h2>
    <div class="container">
        <p>
            Material testing laboratory is well equipped for testing structural materials including steel ,concrete etc
            and has a universal testing machine, compression testing machine, torsion testing machine impact testing
            machine and different hardness testing machine. Standard tests on building materials are routinely performed
            for Government and private organisations as part of consultancy and testing activities.

        </p>
    </div>
    <h2 style="text-align: center;">Geotechnical Engineering Lab
    </h2>
    <div class="container">
        <p>
            Nowadays availability of suitable land/soil is decreasing. To make suit a particular soil for construction
            all of its index and engineering properties should be known. Our geotechnical engineering lab provide
            facilities for all these test. The laboratory involves determination of moisture content, density,
            atterburgs limit bearing capacity, grain size distribution of both fine and coarse soil and specific gravity
            of soil.

        </p>
    </div>

    <h2 style="text-align: center;">CAD Lab</h2>
    <div class="container">
        <p>
            The cad lab is equipped with AutoCAD software and is extensively used for design and drawing. The knowledge
            gained in the lab eventually equips the students to provide quality service once employed in the industry.

        </p>
    </div>
    <h2 style="text-align: center;">Environmental Engineering Lab
    </h2>
    <div class="container">
        <p>
            The environmental engineering lab comprises of modern and technically advanced instruments needed for water
            analysis. The lab has also many in-situ devices and equipment to perform different type of measurements and
            to take grab and water samples.
        </p>
    </div>


    <h2 style="text-align: center;">Concrete Lab</h2>
    <div class="container">
        <p>
            This lab enables students to carry various experiments regarding compressive strength of concrete,
            workability test, consistency test, specific gravity of cement and setting time of cement.
        </p>
    </div>

    <h2 style="text-align: center;">Placement</h2>
    <div class="container">
        <p>
            Our students are presently working at Skyline ,Aarbee structures at Banglore&Cochin etc.


        </p>
    </div>

    <h2 style="text-align: center;">Consultancy Services</h2>
    <div class="container">
        <p>
            The department undertakes both field and lab consultancy works in the realms of surveying and material
            testing.
        </p>
    </div>

    <h2 style="text-align: center;">Industrial Visits</h2>
    <div class="container">
        <p>
            Industrial visits are instrumental in understanding the theoretical concepts taught in the classrooms.They
            act as a platform for the students to gain first hand on-site.


        </p>
    </div>

    <h2 style="text-align: center;">Area of Study
    </h2>
    <div class="container">
        <p>
            Civil engineering students are trained in the areas of surveying, structural analysis and
            design,environmentalengineering,transportationengineering,geotechnicalengineering irrigation engineering and
            in environment and disaster management Opportunities of higher studies are also available in allied
            disciplines of B.Tech engineering.


        </p>
    </div>
    <h2 style="text-align: center;">Area of Study</h2>
    <div class="container">
        <li>ActO1 – Consultancy for field survey &material testing.</li>
        <li>ActO2 – Seminars of recent technologies.</li>
        <li>ActO3 – Industrial visit.</li>
    </div>


    <!-- Newsletter Start -->
    <h2 style="text-align: center;">Gallery</h2>
    <div class="container">
        <div id="content">
            {{#each photos}}
            <div class="sub-container">
                <div class="flipper">
                    <div class="front">
                        <img src="/img/gallery/{{_id}}.jpg" alt="Gallery Image">
                        <p class="caption">{{title}}</p>
                    </div>
                    <div class="back">
                        <a href="">
                            <h1>{{title}}</h1>
                        </a>
                        <p class="date">{{dateAdded}}</p>
                    </div>
                </div>
            </div>
            {{/each}}

        </div>
    </div>
    <!-- question papers -->


    <div class="container">
        <h2 style="text-align: center;margin-top:50px">Question Papers</h2>
        <div class="row">
            {{#each questions}}
            <div class="column">
                <div class="card">
                    <p>{{semester}}, {{subject}},date:{{year_month}}</p>
                    <a href="/questions/{{_id}}.pdf" download="{{subject}} questionpaper{{year_month}}">click to
                        download</a>
                    <div class="FRAME">
                        <iframe scrolling="yes" src="/questions/{{_id}}.pdf">
                        </iframe>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>

    </div>
    <!-- Footer Start -->
    <h2 style="text-align: center;margin-top:50px">Activities</h2>
    <div class="container">
        <li>Industrial Visit</li>
        <li>Seminars</li>
        <li>Workshops</li>
        <li>Affiliations</li>
    </div>
    <div class="container-fluid text-light py-4" style="background: #051225;">
        <div class="container">
            <div class="row g-0">
                <div class="col-md-6 text-center text-md-start">
                    <p class="mb-md-0">&copy; <a class="text-white border-bottom" href="#">NSSpolytechnic pandalam</a>.
                        All Rights Reserved.</p>
                </div>
                <div class="col-md-6 text-center text-md-end">
                    <p class="mb-0">Designed by <a class="text-white border-bottom" href="https://htmlcodex.com">
                        </a><br>
                        <a class="text-white border-bottom" href="https://themewagon.com"></a>

                    </p>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square rounded back-to-top"><i class="bi bi-arrow-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="lib/wow/wow.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="lib/tempusdominus/js/moment.min.js"></script>
    <script src="lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>
    <script src="lib/twentytwenty/jquery.event.move.js"></script>
    <script src="lib/twentytwenty/jquery.twentytwenty.js"></script>

    <!-- Template Javascript -->
    <script src="js/main.js"></script>
</body>

</html>