<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>nssptcpandalam</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Jost:wght@500;600;700&family=Open+Sans:wght@400;600&display=swap"
        rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="lib/animate/animate.min.css" rel="stylesheet">
    <link href="lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />
    <link href="lib/twentytwenty/twentytwenty.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="css/style.css" rel="stylesheet">
</head>

<body>
    <!-- Spinner Start -->
    <div id="spinner"
        class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-grow text-primary m-1" role="status">
            <span class="sr-only">Loading...</span>
        </div>
        <div class="spinner-grow text-dark m-1" role="status">
            <span class="sr-only">Loading...</span>
        </div>
        <div class="spinner-grow text-secondary m-1" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <!-- Spinner End -->


    <!-- Topbar Start -->
    <div class="container-fluid bg-light ps-5 pe-0 d-none d-lg-block">
        <div class="row gx-0">
            <div class="col-md-6 text-center text-lg-start mb-2 mb-lg-0">
                <div class="d-inline-flex align-items-center">
                    <small class="py-2"><i class="far fa-clock text-primary me-2"></i> </small>
                </div>
            </div>
            <div class="col-md-6 text-center text-lg-end">
                <div class="position-relative d-inline-flex align-items-center bg-primary text-white top-shape px-5">
                    <div class="me-3 pe-3 border-end py-2">
                        <p class="m-0"><i class="fa fa-envelope-open me-2"></i>info@example.com</p>
                    </div>
                    <div class="py-2">
                        <p class="m-0"><i class="fa fa-phone-alt me-2"></i>+012 345 6789</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Topbar End -->


    <!-- Navbar Start -->
    <nav class="navbar navbar-expand-lg bg-white navbar-light shadow-sm px-5 py-3 py-lg-0">
        <a href="index.html" class="navbar-brand p-0">

        </a>
        <img style="width: 60px;" src="img/Combined.png" alt="">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>

        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto py-0">
                <h1>NSS POLYTECHNIC COLLAGE PANDALAM</h1>
                <div class="navbar-nav ms-auto py-0">
                    <a href="/" class="nav-item nav-link">Home</a>

                    <button type="button" class="btn text-dark" data-bs-toggle="modal" data-bs-target="#searchModal"><i
                            class="fa fa-search"></i></button>

                </div>
    </nav>
    <!-- Navbar End -->


    <!-- Full Screen Search Start -->
    <div class="modal fade" id="searchModal" tabindex="-1">
        <div class="modal-dialog modal-fullscreen">
            <div class="modal-content" style="background: rgba(9, 30, 62, .7);">
                <div class="modal-header border-0">
                    <button type="button" class="btn bg-white btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
                </div>
                <div class="modal-body d-flex align-items-center justify-content-center">
                    <div class="input-group" style="max-width: 600px;">
                        <input type="text" class="form-control bg-transparent border-primary p-3"
                            placeholder="Type search keyword">
                        <button class="btn btn-primary px-4"><i class="bi bi-search"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Full Screen Search End -->


    <!-- Hero Start -->

    <!-- Hero End -->


    <!-- About Start -->
    <div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-7">
                    <div class="section-title mb-4">
                        <h5 class="position-relative d-inline-block text-primary text-uppercase">About Us</h5>
                        <h1 class="display-5 mb-0">MECHANICAL ENGINEERING</h1>
                    </div>
                    <p class="mb-4">
                        Department News
                        The Department of Mechanical Engineering was started in the year 1958. Presently the department
                        offers Diploma programme in Mechanical Engineering. Mechanical Engg dept of this institution is
                        functioning with high academic track record for the past 60 years. It had an initial intake of
                        40 students, at present the intake of student is 63.

                        The emphasis of the department is to prepare Diploma engineers with a high caliber of technical
                        expertise. The department has the fortune of getting the best students in the district and most
                        of the students belong to socially and economically backward community. The campus placement is
                        more than 80% every year. Industrial Giants like Larson and Toubro, H.C.L. Info, Dubai Port,
                        Simplex infrastructures Ltd, etc. are giving placement to our students.

                        The teaching faculty strength is 8 comprising of Head of the Section, 6 Lecturers and one
                        Workshop Supdt. There are five laboratories and a Mechanical Engineering Workshop under the
                        department.
                    </p>

                </div>
                <div class="col-lg-5" style="min-height: 500px;">
                    <div class="position-relative h-100">
                        <img class="position-absolute w-100 h-100 rounded wow zoomIn" data-wow-delay="0.9s"
                            src="img/R-Preetha.jpg" style="object-fit: cover;">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->
    <div class="container-fluid bg-primary bg-appointment my-5 wow fadeInUp" data-wow-delay="0.1s">
        <div class="container">
            <div class="row gx-5">
                <div class="col-lg-6 py-5">
                    <div class="py-5">
                        <h1 class="display-5 text-white mb-4">Vision</h1>
                        <p class="text-white mb-0">“To achieve and impart quality education with an emphasis on
                            practical skills and social relevance.”

                        </p>
                    </div>
                    <h1 class="display-5 text-white mb-4">Mission</h1>
                    <p class="text-white mb-0">
                        <li>
                            Provide high quality education and training, well in tune with current developments in
                            Electrical & Electronics Engineering and impart awareness about professional ethics, social
                            responsibilities and sustainable development for serving the society..
                        </li>

                    </p>

                </div>
                <div class="col-lg-6">
                    <div class="appointment-form h-100 d-flex flex-column justify-content-center text-center p-5 wow zoomIn"
                        data-wow-delay="0.6s">
                        <h1 class="text-white mb-4"></h1>
                        <marquee direction="up" height="400" style="color: red;">News and events</marquee>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <div class="container-fluid bg-primary bg-appointment my-5 wow fadeInUp" data-wow-delay="0.1s">
        <div class="container">
            <div class="row gx-5">
                <div class="col-lg-6 py-5">
                    <div class="py-5">

                    </div>

                    <p class="text-white mb-0">


                    </p>


                </div>

            </div>
        </div>
    </div>

    <!-- ----staff data---------- -->

    <h1 class="display-6 mb-4" style="text-align: center;">Staff</h1>
    <div class="container">
        <div class="row">
            {{#each staffs}}
            <div class="column">
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <img src="/img/staff/{{_id}}.jpg" alt="Avatar" style="width:250px;height:200px;">
                        </div>
                        <div class="flip-card-back">
                            <h1>{{staff_name}}</h1>
                            <p>{{position}} </p>
                            <p>{{email}} </p>
                            <p>{{phone}} </p>
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>


    <h1 class="display-6 mb-4" style="text-align: center;"> <u>Facilities</u> </h1>

    <h2 style="text-align: center;"> Hydraulics Lab</h2>
    <div class="container">
        <p>Mechanical engineering and civil engineering students are now using this lab. This lab comprises of flow
            experiments and test on hydraulic machines including turbines

        </p>
    </div>

    <h2 style="text-align: center;">Heat Engine Lab</h2>
    <div class="container">
        <p>Heat Engine Lab is considered as the most important lab for Mechanical engg students. For our credit we have
            a Cochran Boiler and a Steam engine

        </p>
    </div>

    <h2 style="text-align: center;">Servicing and Maintenance Lab
    </h2>
    <div class="container">
        <p>
            Servicing & Maintenance is very essential in practical application and jobs connecting with servicing
            sector. Automobile industry in the world is developing rapidly. Newer technologies are introducing day by
            day. This generates more employment opportunities for mechanical engg students in automobile sector. Besides
            all large industries are now outsourcing their maintenance work, hence there are enormous scope in the
            servicing & Maintenance sector for our students.

        </p>
    </div>
    <h2 style="text-align: center;">CADD Laboratory

    </h2>
    <div class="container">
        <p>
            The advent of modernization turned the design and drafting field more complex. In order to meet the
            requirements of industry we had a CADD lab with computers and the latest software in this field.

        </p>
    </div>

    <h2 style="text-align: center;">Basic Mechanical Engineering Lab
    </h2>
    <div class="container">
        <p>
            details updated soon..



        </p>
    </div>
    <h2 style="text-align: center;">Mechanical Engineering Lab

    </h2>
    <div class="container">
        <p>
            Mechanical engineering workshop is the heart of Mechanical engg dept. Students can learn many things through
            their theory classes, but he realize more when they implements what they studied in to application level in
            workshop practical sessions.. For any diploma engineer practical experience is more important to build his
            career. Workshops are the places where they get act actual work experience and also exposure to industrial
            environment
        </p>
    </div>


    <h2 style="text-align: center;">Advance Machine Tool Lab </h2>
    <div class="container">
        <p>
            Every industry in the globe has changed a lot for the past 30 years due to the development of electronics
            and information technology. Computerized machines or automated machines were replaced all most all the
            conventional machines in every walk of life. Due to the globalization our products have to compete with
            international market, hence all of our production should be according to international standards. This
            itself need highly talented and dedicated youths as well as modern sophisticated machines in our labs and
            workshops. For this the department has an Advance machine tool lab comprises of advanced sophisticated
            machines including, Surface grinder, Automatic lathe, milling machine, planer, tool and cutter grinder etc.
        </p>
    </div>
    <h2 style="text-align: center;">Department Library


    </h2>
    <div class="container">
        <p>
            We are running department library, even though we have a centralized one. It is acting as a quick reference
            centre for faculty members and students. This is helpful for the meritorious as well as economically
            backward students. Personal care can be taken to enhance the learning capabilities of the students
    </div>

    <!-- Photos start-->
    <h2 style="text-align: center;">Gallery</h2>
    <div class="container">
        <div id="content">
            {{#each photos}}
            <div class="sub-container">
                <div class="flipper">
                    <div class="front">
                        <img src="/img/gallery/{{_id}}.jpg" alt="Gallery Image">
                        <p class="caption">{{title}}</p>
                    </div>
                    <div class="back">
                        <a href="">
                            <h1>{{title}}</h1>
                        </a>
                        <p class="date">{{dateAdded}}</p>
                    </div>
                </div>
            </div>
            {{/each}}

        </div>
    </div>
    <!-- question papers -->


    <div class="container">
        <h2 style="text-align: center;margin-top:50px">Question Papers</h2>
        <div class="row">
            {{#each questions}}
            <div class="column">
                <div class="card">
                    <p>{{semester}}, {{subject}},date:{{year_month}}</p>
                    <a href="/questions/{{_id}}.pdf" download="{{subject}} questionpaper{{year_month}}">click to
                        download</a>
                    <div class="FRAME">
                        <iframe scrolling="yes" src="/questions/{{_id}}.pdf">
                        </iframe>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>

    </div>
    <!-- Footer Start -->
    <h2 style="text-align: center;margin-top:50px">Activities</h2>
    <div class="container">
        <li>Industrial Visit</li>
        <li>Seminars</li>
        <li>Workshops</li>
        <li>Affiliations</li>
    </div>

    <div class="container-fluid text-light py-4" style="background: #051225;">
        <div class="container">
            <div class="row g-0">
                <div class="col-md-6 text-center text-md-start">
                    <p class="mb-md-0">&copy; <a class="text-white border-bottom" href="#">NSSpolytechnic pandalam</a>.
                        All Rights Reserved.</p>
                </div>
                <div class="col-md-6 text-center text-md-end">
                    <p class="mb-0">Designed by <a class="text-white border-bottom" href="https://htmlcodex.com">
                        </a><br>
                        <a class="text-white border-bottom" href="https://themewagon.com"></a>

                    </p>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square rounded back-to-top"><i class="bi bi-arrow-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="lib/wow/wow.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="lib/tempusdominus/js/moment.min.js"></script>
    <script src="lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>
    <script src="lib/twentytwenty/jquery.event.move.js"></script>
    <script src="lib/twentytwenty/jquery.twentytwenty.js"></script>

    <!-- Template Javascript -->
    <script src="js/main.js"></script>
</body>

</html>